// ==========================================================================

// Globals

// ==========================================================================
  



body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bodyBase;
	overflow-x: hidden;
}



a {
	text-decoration: none;
	color: inherit;
}

ol, ul {
	list-style: none;
}


// ==== Wrap


.wrap-center {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

// ==== Wrap !






.small-pad-20 {
	padding: 20px;
}




// ==== Obj 

// sprite

// Backgrounds


.bg-white {
	background-color: $wht;
}

.bg-white .btn {
	color: #fff;
	border: none;
	background-color: $gBlue;
}

.bg-green {
	background-color: $gGreen;
}

.bg-purp {
	background-color: $gPurp;
}

.bg-black {
	background-color: $gBlack;
}

.bg-blue {
	background-color: $gBlue;
	background-image: -moz-linear-gradient( 124deg, rgb(36,175,219) 0%, rgb(26,156,205) 100%);
	background-image: -webkit-linear-gradient( 124deg, rgb(36,175,219) 0%, rgb(26,156,205) 100%);
	background-image: -ms-linear-gradient( 124deg, rgb(36,175,219) 0%, rgb(26,156,205) 100%);
}

.bg-blue *,
.bg-black *,
.bg-purp *,
.bg-green, {
	color: #fff;	
}


.bg-white * {
	color: $gTxt;	
}





.slab {

}








// ==== Helpers

// hide text
.txt-hide {
	display: block;
	overflow: hidden;
	text-indent: -999999999%;
}





// sudo obj
.sudo {
  position: relative;
}

// sudo obj here
.sudo::before,
.sudo::after {
  content: "";
  display: block;
  position: absolute;
}

// testing sudos
.sudo-border {
  @extend .sudo;
}

// testing sudos
.sudo-border::after {
  height: 1px;
  bottom: 0px;
  left: 50%;
}





//--- svg sprite

.sprite {
	background: transparent url('img/svg-sprite.svg') no-repeat 0px 0px;
	background-size: 194px 67px;
}



//--- icons

.icon {
	position: relative;
	display: block;
	overflow: hidden;
	text-indent: -999999px;
	width: 50px;
	height: 50px;
}

.icon::before {
	content: "";
	@extend .sprite;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin: -10px 0px 0px -10px;
}


// actual icons
.icon-mag::before {
	background-position: -53px -9px;
}

.icon-shop::before {
	background-position: -53px -9px;
}

.icon-phones::before {
	background-position: -73px -9px;
}

.icon-facebook::before  {
	background-position: -47px -27px;
}

.icon-facebook:hover::before {
	background-position: -47px -45px;
}  




.dis-b {
	display: block;
}





.fl-left {
	float: left;
}

.fl-right {
	float: right;
}



// ==== Obj !




// ==========================================================================

// Global Elements

// ==========================================================================
  

// global logo obj
.g-logo {
	width: 48px;
	height: 100px;
}




// ==== Header

// global header el
.g-header {
	position: relative;
	height: 88px;

	.g-logo {
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -24px;
	}
}


.g-phone {
	width: 50px;
	height: 50px;
}


.nav-trig {
	height: 35px;
	width: 35px;
	position: absolute;
	top: 20px;
	left: 20px;

	span,
	span::before,
	span::after {
		overflow: visible;
  		display: block;
  		position: absolute;
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background-color: $wht;
	}

	span::before,
	span::after {
		content: "";
		position: absolute !important;
		background-color: $wht;
	}

	span {
		top: 50%;
	}

	span::before {
		top: 8px;
	}

	span::after {
		top: -8px;
	}


}

.g-header-wrap-right {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;


	.icon {
		float: left;
		display: block;
	}

}

// ==== Header !




// ==== Header

.g-footer {
	background-color:  $gBlack;

	a {
		color: #fff;
	}
}

// ==== Header !




// ==== Heros

.hero {
	background-color: $gBlue;
	padding: 50px 15px;
}

// ==== Heros !




// ==== Heros

.hero-pop-over {
	margin-top: -40px;
	padding: 30px 30px;
	@include border-radius(2px);
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 243, 0.4);
}


// ==== Heros !




.non-mobile {
	display: none !important;
}






// ==========================================================================

// Buttons

// ==========================================================================
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 30px;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	@include font-size (14);
}

// outline btn
.btn-outline {
	@include border-radius(50px);
	border: 2px solid rgba(255, 255, 255, 0.3);
	color: #fff;
	overflow: hidden;
}


// ==========================================================================

// Buttons

// ==========================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 2rem;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}


h1 {
	@include font-size(35);
}

h2 {
	@include font-size(25);
}

h3 {
	@include font-size(20);
}


p {
	@include font-size(13);
	font-family: 'open_sansregular';
}

ul.small ,
ul.small li,
ul.small a {
	@include font-size(13);
	font-family: 'open_sansregular';
}







// ==========================================================================

// Type

// ==========================================================================




.wrap-featured-products .three {
	background-color: #fff;
}





/* 
    font-family: 'open_sanslight';
    font-family: 'open_sansregular';
    font-family: 'open_sanssemibold';
*/


// ==========================================================================

// Footer

// ==========================================================================

footer {
	background: $gBlack;
		h1 {
			color: white;
			@include font-size(18);
		}
		a {
			color: $footerText;
			@include font-size(12);
			text-decoration: none;
		}
		a:hover {
			color: white;
		}
		.copyright {
			text-align: center;
			color: #2b3134;
			@include font-size(10);
		}

}
